@{
    Layout = "_Layout";
}

@using Factory.Models;

<h1>Machines</h1>
<hr />

<h2> Here is a list of all the Machines</h2>

@if (@Model.Count == 0)
{
    <h4> "There are no Machines added to the factory database"</h4>
}

@foreach (Machine machine in Model)
{
    <h4> @Html.ActionLink($"{machine.Name}", "Details", new {id = machine.MachineId}) </h4>
}

<hr />
<p>@Html.ActionLink("Add new machine", "Create")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>