@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h3>Create Engineer</h3>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Create engineer" class="btn btn-primar" />
}

<p>@Html.ActionLink("Back to engineers","Index")</p>