﻿@{
  Layout = "_Layout";
}

<h1>Welcome to The University of Git Gud!</h1>
<hr />
 <img src="~/img/ugg crest.png">
<p>@Html.ActionLink("See all students", "Index", "Engineers")</p>
<p>@Html.ActionLink("See all courses", "Index", "Machines")</p>